/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

.shelf {
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  grid-gap: 10px;
}
.shelf-item {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  background-color: lemonchiffon;
  width: 240px;
  height: 400px;
  border: 1px solid black;
  border-radius: 2px 5px 5px 2px;
  overflow: hidden;
  transition: transform .3s ease-in-out;
  transform: translate(0);
}
.shelf-item:hover {
  transform: translateY(-5px) rotateZ(-3deg);
}
.shelf-item:hover:last-child {
  transform: none; /* hack for last item being input */
}
.shelf-item > img {
  /* aspect-ratio: .5; */
  max-width: 100%;
  max-height: 50%;
  align-self: center;
}

.shelf-item > .text-area {
  padding: 1em;
}
.shelf-item .title {
  text-decoration: none;
  font-size: 1.5em;
  text-overflow: ellipsis;
  overflow: hidden;

}
.shelf-item .description {
  /* margin:0px; */
  opacity: 0.7;
}
.shelf-item  .delete {
  top: 0px;
  right: 0px;
  position: absolute;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #f0f0f0;
}

h1 {
  font-style: italic;
  color: #3F7A63;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}
